body{
  width: 1050px;
  margin: 0 auto;
  padding: 0;
  

}
header{
  margin: 50px auto;
  text-align: center;
 
}

.keywords{
  width: 80%;
  height: 50px;
  border: 1px solid #9fc6F5;
  padding-left: 15px;
  font-size: 14px;
  background-color: #ddf3fe;
   
}

.keywords:focus{
  outline: 2px solid #7fb3e5;
}

.content{
  margin-top: 50px;
}
ul{
  list-style: none;
  
}
li{
  border-bottom:2px dotted #d3f2fd;
  height: 70px;
}
.listContent{
  height: 50px;
  line-height: 50px;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 20px;
  width: 100%;
  
}
.listTime{
  text-align: right;
  font-family: Sans-serif,Geogia, Times New Roman, Times, serif;
  color: #dddddd;
  font-style:italic;
  font-size: 15px;
}
span.highlight{
  background: #FF8C05;
  color:#ffffff;
  height: 50px;

}

.deleteBtn{
	margin:15px;
	float: right;
	
}
.pageCount{
	float: right;
	margin-right: 30px;
}

.pageCount li{
	list-style: none;
	float: left;
	margin-left: 20px;
}

.pageCount li a{
	text-decoration: none;
	color: black;
	
}
#addBook{
	margin-left: 50px;
	float: left;
	
}
.bottomDiv{
	width:100%;
	
}

.bookForm{
	background-color:#cdcdcd;
	border:1px solid;
	position: absolute;
	top: 500px;
	left:300px;
	display: none;
	margin-left: 50px;
	float: left;
}
